table{
    width:100%;
}
.search-input{
    border: 1px solid #CCC;
    PADDING: 8PX 10PX;
    border-radius:3px;
}
.search-input:active{
    border: 1px solid #BBB;
}
.search-input:focus{
    border: 1px solid #AAA;
}